<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <title>Clients CRUD</title>
    </head>
    <body class="bg-info" style="background-color:cornflowerblue">
        <div class="row h-100 align-items-center">
            <div style="margin-left:200px;background-color:white;margin-top:20px;padding:20px" class="col-md-8 offset-md-3">
                {{{body}}}
            </div>
        </div>
    </body>
</html>