<!DOCTYPE html>
<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <title>Node.js Express MongoDB CRUD</title>
        <style>
            html,body{
                height:100%;
            }
        </style>
    </head>
    <body class="bg-info">
        <div class="row h-100 align-items-center">
            <div style="margin-left:330px;background-color:white;margin-top:15px;padding:20px" class="col-md-6 offset-md-3">
                {{{body}}}
            </div>
        </div>
    </body>
</html>